<%= form_for @buyer, url: buyers_path, local: true do |form| %>

<% if @buyer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@buyer.errors.count, "error") %> prohibited
        this buyer from being saved:
      </h2>
      <ul>
        <% @buyer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>

  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :mobile %><br>
    <%= form.text_field :mobile %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>

  <p>
    <%= form.submit 'Sign Up' %>
  </p>
<% end %>
